name: CI

on:
  push:
    branches:
      - master
      - ci-*
    tags:
      - '*'
  pull_request:
    branches:
      - master
  workflow_dispatch:

# Need write permissions for deploy
# https://github.com/JamesIves/github-pages-deploy-action#getting-started-airplane
permissions:
  contents: write

env:
  AGDA_VERSION: '2.8.0'
  STDLIB_VERSION: '2.3'
  DEPLOY_DIR: ${{ github.ref_name }}
  HTML_DIR: html/${{ github.ref_name }}
  MAIN: Everything.agda

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # Checkout to $HOME empties $HOME so we have to do it before we put stuff there.
      - uses: actions/checkout@v4

      - name: Debug info --- directories
        run: |
          echo "HOME = ${HOME}"
          echo "current directory = $(pwd)"

      - name: Download Agda ${{ env.AGDA_VERSION }}
        run: |
          http_code=$(curl -w '%{http_code}\n' -L "https://github.com/agda/agda/releases/download/v${{ env.AGDA_VERSION }}/Agda-v${{ env.AGDA_VERSION }}-linux.tar.xz" -o "agda.tar.xz")
          exit_code=$?
          echo "curl exit code: ${exit_code}"
          echo "curl http code: ${http_code}"
          if [[ "${exit_code}" == "0" && "${http_code}" == "200" ]]; then
            tar xvf agda.tar.xz
            mv agda "${HOME}/.local/bin/"
            echo "${HOME}/.local/bin" >> "${GITHUB_PATH}"
          else
            echo "Download of Agda archive failed."
            exit 1
          fi

      - name: Setup Agda
        run: |
          agda --setup
          AGDA_DIR=$(agda --print-agda-app-dir)
          echo "AGDA_DIR=${AGDA_DIR}" >> "${GITHUB_ENV}"

      - name: Download Agda standard-library ${{ env.STDLIB_VERSION }}
        run: |
          http_code=$(curl -w '%{http_code}\n' -L "https://github.com/agda/agda-stdlib/archive/refs/tags/v${{ env.STDLIB_VERSION }}.tar.gz" -o "agda-stdlib.tgz")
          exit_code=$?
          echo "curl exit code: ${exit_code}"
          echo "curl http code: ${http_code}"
          if [[ "${exit_code}" == "0" && "${http_code}" == "200" ]]; then
            tar xvf agda-stdlib.tgz
            ls -al
          else
            echo "Download of the Agda standard library archive failed."
            exit 1
          fi

      - name: Setup Agda standard-library
        run: |
          echo "${HOME}/agda-stdlib-2.3/standard-library.agda-lib" >> "${AGDA_DIR}/libraries"
          cat "${AGDA_DIR}/libraries"

      - name: Restore cache
        uses: actions/cache/restore@v4
        id:   cache
        with:
          key: agda-${{ env.AGDA_VERSION }}-stdlib-${{ env.STDLIB_VERSION }}-commit-${{ github.sha }}
          restore-keys: agda-${{ env.AGDA_VERSION }}-stdlib-${{ env.STDLIB_VERSION }}-
          path: |
            _build
            ~/.agda/libraries.d

      # setup-agda does not support 2.8.0

      # - name: Setup Agda
      #   uses: wenkokke/setup-agda@v2
      #   id:   setup
      #   with:
      #     agda-version: ${{ env.AGDA_VERSION }}
      #     agda-stdlib-version: ${{ env.STDLIB_VERSION }}

      # - name: Restore cache
      #   uses: actions/cache/restore@v4
      #   id:   cache
      #   with:
      #     key: agda-${{ steps.setup.outputs.agda-version }}-stdlib-${{ env.STDLIB_VERSION }}-commit-${{ github.sha }}
      #     restore-keys: agda-${{ steps.setup.outputs.agda-version }}-stdlib-${{ env.STDLIB_VERSION }}-
      #     path: |
      #       _build
      #       ~/.agda/libraries.d

      - name: Run Agda
        run: agda "${{ env.MAIN }}" +RTS -M6G -RTS

      - name: Save cache
        # Primary cache key is unique, so we can always save.
        if:   ${{ always() }}
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.cache.outputs.cache-primary-key }}
          path: |
            _build
            ~/.agda/libraries.d

########################################################################
## DOC DEPLOYMENT
########################################################################

      # We start by retrieving the currently deployed docs
      # We remove the content that is in the directory we are going to populate
      # so that stale files corresponding to deleted modules do not accumulate.
      # We then generate the docs in the HTML_DIR subdirectory
      - name: Generate HTML
        run: |
          git clone --depth 1 --single-branch --branch gh-pages https://github.com/graded-type-theory/graded-type-theory.git html
          rm -f '${{ env.HTML_DIR }}'/*.html
          rm -f '${{ env.HTML_DIR }}'/*.css
          agda --html --html-dir="${{ env.HTML_DIR }}" "${{ env.MAIN }}"
          cp "${{ env.HTML_DIR }}/README.html" "${{ env.HTML_DIR }}/index.html"

      - name: Deploy HTML
        uses: JamesIves/github-pages-deploy-action@v4
        # if: ${{ success() && env.AGDA_DEPLOY }}

        with:
          branch: gh-pages
          folder: html
          git-config-name: Github Actions

      - uses: actions/upload-pages-artifact@v3
        with:
          path: html
