name: web
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          web=$(nix -L build --print-out-paths)
          cp -rL --no-preserve=mode,ownership,timestamps "$web" pages
      - uses: actions/upload-pages-artifact@v3
        with:
          path: pages
          retention-days: 1
  deploy:
    if: github.ref_name == 'universe-polymorphism'
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
